/** Load of the fonts **/
@font-face {
	font-family: "Roboto-Light";
	src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: "Roboto-Medium";
	src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: "Roboto-Regular";
	src: url('assets/fonts/Roboto-Regular.ttf');
}

.action{

}

.info{
  display: inline-block;
}

.buttonload {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none; /* Remove borders */
    color: #C0C0C0; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}

.titre{
  font-family: fantasy;
}

app-panel{
color:black;
background-color:white;
background-image:url(image/007.svg);
background-repeat:no-repeat;
}

/** Style of the header **/
header {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  background-color: #ff7b53;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 0.7rem;
  box-shadow: 0px 3px 5px #888888;
}

.button {
    background-color: #ECF0F1;
    border-radius: 4px;
    border-width:2px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image1{
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  width: 250px;
	height: 250px;
}

.text{
    text-align: center;
}

.button:hover {
    background-color: #C0C0C0;
    color: white;
}

.image{
  width: 200px;
	height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon{
  width:15px;
	height: 15px;
  vertical-align:middle;
}

.icon2{
  width:15px;
	height: 15px;
  vertical-align:bottom;
}

.icon1{
  width:35px;
	height: 35px;
  vertical-align:middle;
}

.blocL{
  display: inline-block;
}

.blocR{
  display: inline-block;
  margin-right: 0%;
  float:right;
}

.aligne{
  display: block;
  width: 100%;
}

.palign{
  background-color: #ECF0F1;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: auto;
}

.palign:hover{
  background-color: #C0C0C0;
  color: white;
}

.align{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  padding: 13px 16px;
  margin: 0;
  text-align: center;
}

.fa-navicon{
	margin-right: 32px;
}

nav ul {
	padding-top: 50px;
}

nav a {
	text-decoration: none;
	color: #111111;
	font-family: "Roboto-Regular";
}

.nav-bar-item {
	border-bottom: solid 1px #cccccc;
	font-size: 1.1rem;
	padding: 12px 0px;
	margin-left: 20px;
}

.nav-bar-item:last-child {
	border: none;
}



/** General style of the views of the app **/
.app-view {
  font-family: "Roboto-Regular";
	padding: 10px 10px 15px 10px;
}

h2 {
	border-top: solid 1px #cccccc;
	padding-top: 10px;
	padding-left: 20px;
	font-family: "Roboto-Light";
	color: #757575;
}

ul {
	list-style: none;
	margin-left:0;
	padding-left:0;
}



/** Style of the lists of items **/
.list-item {
	border-bottom: solid 1px #cccccc;
	font-size: 1.1rem;
	padding: 12px 0px;
	margin-left: 20px;
}

.list-item:last-child {
	border: none;
}



/** Style of the menu **/
.offcanvasMenu {
  /* Full screen nav menu */
  position: absolute;
  width: 66%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #EFEFEF;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s, visibility 0s 0.3s;
}

.oncanvasMenu {
  /* nav state when corresponding checkbox is checked */
  position: absolute;
  width: 66%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #EFEFEF;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s, visibility 0s 0.3s;
}

.menuHeader {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  background-color: #ff7b53;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 0.7rem;
  box-shadow: 0px 3px 5px #888888;
}

.menuHeadTitle {
  padding: 13px 16px;
  font-size: 25px;
  margin: 0;
}

.hideOpacity {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: black;
  z-index: 99;
  visibility: hidden;
  transition: opacity 1s; /* transition settings */
}

.showOpacity {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  z-index: 99;
  transition: opacity 0.5s; /* transition settings */
  opacity: 0.6;
  visibility: visible;
}
